7.4 Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [9]:
things = ['mozzarella', 'cinderella', 'salmonella']
tuple(things)

('mozzarella', 'cinderella', 'samonella')

7.5 Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [10]:
things = ['mozzarella', 'cinderella', 'salmonella']
person_index = things.index("cinderella")
things[person_index] = things[person_index].capitalize()
tuple(things)

('mozzarella', 'Cinderella', 'salmonella')

7.6 Make the cheesy element of things all uppercase and then print the list.

In [11]:
things = ['mozzarella', 'cinderella', 'salmonella']
person_index = things.index("cinderella")
cheesy_index = things.index("mozzarella")
things[cheesy_index] = things[cheesy_index].upper()
things[person_index] = things[person_index].capitalize()
tuple(things)

('MOZZARELLA', 'Cinderella', 'salmonella')

7.7 Delete the disease element from things, collect your Nobel Prize, and print the list.

In [14]:
things = ['mozzarella', 'cinderella', 'salmonella']
person_index = things.index("cinderella")
cheesy_index = things.index("mozzarella")
things.remove("salmonella")
things[cheesy_index] = things[cheesy_index].upper()
things[person_index] = things[person_index].capitalize()
tuple(things)

('MOZZARELLA', 'Cinderella')

9.1 Define a function called good() that returns the following list: ['Harry', 'Ron', 'Hermione'].

In [15]:
def good():
  return ['Harry', 'Ron', 'Hermione']

good_list = good()

print(good_list)

['Harry', 'Ron', 'Hermione']

9.2 Define a generator function called get_odds() that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [16]:
def get_odds():
  for number in range(10):
    if number % 2 != 0:
      yield number

count = 0

for odd_number in get_odds():
  count += 1
  if count == 3:
    print("The third odd number is:", odd_number)
    break

The third odd number is: 5